
# Cache directories
.cache/
*cache*

# VS Code
.vscode/
*.code-workspace

# Environments
.env
.venv
*venv*
env/
venv/
ENV/
env.bak/
venv.bak/

output*
results*
*venv*
upload*
comps/pdf-parser/batch_processing/
comps/pdf-parser/test/
comps/pdf-parser/batch_jobs_store/batch_jobs.json
